@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Orbitron:wght@400..900&display=swap');
@import 'tailwindcss';

body {
  background: #16161a;
  color: #fff;
  font-family: 'Geist', san-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Orbitron', san-serif;
}
